[submodule "python-bulletproofs"]
	path = python_bulletproofs
	url = https://github.com/Lev-Stambler/python-bulletproofs.git
[submodule "common_ec_cairo"]
	path = common_ec_cairo
	url = https://github.com/Lev-Stambler/common-ec-cairo.git
