[submodule "python-bulletproofs"]
	path = python_bulletproofs
	url = https://github.com/Lev-Stambler/python-bulletproofs.git
[submodule "common_ec_cairo_git"]
	url = https://github.com/EulerSmile/common-ec-cairo.git
	path = libs/common_ec_cairo_git
